#define CAPTURE_VILLAGE SIDE X Y
    [capture_village]
        side={SIDE}
        x,y={X},{Y}
    [/capture_village]
#enddef

#define HIGHLIGHT_HEX X Y IMAGE BACKGROUND_VALUE
    [scroll_to]
        x,y={X},{Y}
        check_fogged=no
    [/scroll_to]

    [repeat]
        times=3
        [do]
            [item]
                x,y={X},{Y}
                image={IMAGE}
            [/item]

            [redraw][/redraw]

            [delay]
                time=300
            [/delay]

            [remove_item]
                x,y={X},{Y}
            [/remove_item]

            [item]
                x,y={X},{Y}
                image={BACKGROUND_VALUE}
            [/item]

            [redraw][/redraw]

            [delay]
                time=300
            [/delay]
        [/do]
    [/repeat]
#enddef